/* .img{
    border-radius: 97px;
    overflow: hidden;
    border-radius: 2px solid #fff;
} */

@font-face {
    font-family: "8bit";
    src: url("font.ttf") format("truetype")
}

body{
    background: #000;
    font-family: '8bit';
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 30px;
    user-select: none;
}

.title h1 {
    display: flex;
    justify-content: center;
}

.title h1 span {
    display: inline-block;
    animation: floatAnimation 2s infinite ease-in-out;
}

@keyframes floatAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/* Appliquer des délais aléatoires pour chaque lettre */
.title h1 span:nth-child(1) { animation-delay: 0s; }
.title h1 span:nth-child(2) { animation-delay: 0.2s; }
.title h1 span:nth-child(3) { animation-delay: 0.4s; }
.title h1 span:nth-child(4) { animation-delay: 0.6s; margin-right: 28px; }
.title h1 span:nth-child(5) { animation-delay: 0.8s; }
.title h1 span:nth-child(6) { animation-delay: 1s; }
.title h1 span:nth-child(7) { animation-delay: 1.2s; }
.title h1 span:nth-child(8) { animation-delay: 1.4s; }
.title h1 span:nth-child(9) { animation-delay: 1.6s; }
.title h1 span:nth-child(10) { animation-delay: 1.8s; }

.element{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 396px;
}

.content{
    background: #ffffff;
    position: relative;
    width: 396px;
    height: 396px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canevas{
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 100%;
    height: 100%;
}

.nft{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 396px;
    height: 396px;
}

.border{
    display: flex;
}


.px{
    width: 6px;
    height: 6px;
}

.text{
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 6px;
    user-select: none;
}

.text > span:first-child{
    font-size: 14px;
}

.text > span:last-child{
    font-size: 16px;
}

.btn{
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    user-select: none;
}

.download{
    background: #ffffff;
    color: #000000 !important;
    outline: none;
    border: none;
    padding: 10px;
    font-family: '8bit';
    cursor: pointer;
    font-size: 14px;
}

.download:hover, .reload:hover{
    background: #d3d3d3;
}

.download:disabled, .reload:disabled{
    background: #d3d3d3;
    color: #919191;
    cursor: default;
}

.reload{
    background: #ffffff;
    color: #000000 !important;
    outline: none;
    border: none;
    font-family: '8bit';
    cursor: pointer;
    font-size: 18px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reload > img{
    height: 22px;
}

.rotate-icon {
    transition: transform 0.5s;
}

.rotate {
    transform: rotate(360deg);
}

#particles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer {
    text-align: center;
    padding: 10px;
}

.footer a{
    color: #ffffff !important;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .element{
        width: 264px;
    }

    .title{
        font-size: 28px;
    }

    .content{
        width: 264px;
        height: 264px;
    }

    .img{
        width: 264px;
        height: 264px;
    }

    .px{
        width: 4px;
        height: 4px;
    }

    .btn{
        margin-top: 10px;
    }

    .download{
        font-size: 12px;
    }

    .reload{
        font-size: 16px;
        width: 32px;
    }

    .text{
        bottom: 8px;
        left: 8px;
        gap: 4px;
    }
    
    .text > span:first-child{
        font-size: 10px;
    }
    
    .text > span:last-child{
        font-size: 12px;
    }

    .footer a{
        font-size: 12px;
    }
}